
<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Buttons Guide</ion-title>
</ion-navbar>


<ion-content padding class="buttons-guide">

  <h3>A guide for ionic buttons</h3>
  <!-- More info at http://ionicframework.com/docs/v2/components/#buttons -->

  <p>
    All basic buttons
  </p>
  <p>
    <button light>Light</button>
    <button>Primary</button>
    <button secondary>Secondary</button>
    <button danger>Danger</button>
    <button dark>Dark</button>
  </p>

  <p>
    All outline buttons
  </p>
  <p>
    <button light outline>Light Outline</button>
    <button outline>Primary Outline</button>
    <button secondary outline>Secondary Outline</button>
    <button danger outline>Danger Outline</button>
    <button dark outline>Dark Outline</button>
  </p>

  <p>
    All clear buttons
  </p>
  <p>
    <button light clear>Light Clear</button>
    <button clear>Primary Clear</button>
    <button secondary clear>Secondary Clear</button>
    <button danger clear>Danger Clear</button>
    <button dark clear>Dark Clear</button>
  </p>

  <p>
    All round buttons
  </p>
  <p>
    <button light round>Light Round</button>
    <button round>Primary Round</button>
    <button secondary round>Secondary Round</button>
    <button danger round>Danger Round</button>
    <button dark round>Dark Round</button>
  </p>

  <p>
    A full button
  </p>
  <p>
    <button full>Full Button</button>
  </p>

  <p>
    A floating button
  </p>
  <p>
    <button fab>FAB</button>
  </p>
</ion-content>
