<ion-view view-title="components in {{module.name}}">
    <ion-content>
        <ion-list>
            <div ng-repeat="component in module.components">
                <component component="component" house="house" module="module"></component>
            </div>
        </ion-list>
        <div class="row">
            <div class="col">
                <button class="button button-block button-energized" ng-click="resetModule()">
                    Reboot
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
