<ion-view view-title="Houses">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="houseInfo in houses" style="display: flex" ng-click="vewComponent(houseInfo)"
                      ng-disabled="!houseInfo.connected">
                <div style="flex: auto">
                    {{houseInfo.formattedName}}
                </div>
                <button class="button icon ion-settings"
                        item-right ng-click="viewHouseDetails(houseInfo); $event.stopPropagation();"></button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

