<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{house.name}}</ion-title>
</ion-navbar>

<ion-content>
    <ion-list>
        <ion-item *ngFor="#component of components">
            test
            <module-component [component]="component"></module-component>
            <!--<ion-icon [name]="component.icon" item-left></ion-icon>-->
            <!--<ion-label>{{component.name}}</ion-label>-->
            <!--<ion-toggle [(ngModel)]="component.value" item-right></ion-toggle>-->
        </ion-item>
    </ion-list>
    <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title}}</b>
    </div>
</ion-content>
